.container_navegacao {
    display: flex;
    height: 50px;
    background-color: #111;
}

.container_navegacao ul {
    list-style-type: none;
    gap: 1.7rem;
}

.dropdown-hover:hover .dropdown-menu {
    display: block;
}
  
.dropdown-hover .dropdown-menu {
    display: none;
    margin-top: 0; 
}

.dropdown-hover:hover .dropdown-toggle {
    cursor: pointer;
}

.container_navegacao li.active span {
    color: #f7d454;
    background-color: #000;
}

.container_navegacao li span {
    border-radius: 8px;
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 0.5rem;
}

.container_navegacao li span:hover,
.container_navegacao li a:hover{
    cursor: pointer;
    color: #f7d454;
    background-color: #000;
}
